[{INCLUDE templates/header.html}]
<script type="text/javascript">
$(document).ready(function(){
  $("#selectall").click(function(){
    selectAll(this, "selected_hook[]");
  });
});
</script>
[{IFDEF INFO}]<div class="infomsg">${INFOMSG}</div>[{/IFDEF}]
[{IFDEF WARNING}]<div class="warningmsg">${WARNINGMSG}</div>[{/IFDEF}]
[{IFDEF ERROR}]<div class="errormsg">${ERRORMSG}</div>[{/IFDEF}]

    <h1>TR{Hook management}}</h1>
    <p class="hdesc">TR{On this page you can view your existing Hooks and delete them.}}</p>
      
    <div class="datatablesearch">
        TR{Filter}}:
        <input type="text" class="filterbox" onkeyup="filterDataTable('hooklist',2,this.value);">
    </div>
      
    <form action="hooklist.php" method="POST">
        <table id="hooklist" class="datatable">
            <thead>
                <tr>
                    <th width="20">
                        <input type="checkbox" id="selectall" />
                    </th>
                    <th>TR{Name}}</th>
                    <th>TR{Author}}</th>
                    <th>TR{Type}}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <table class="datatableinline">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <tr>
                                <td>
                                    <input type="submit" name="delete" value="TR{Delete}}" class="delbtn" onclick="return deletionPrompt('TR{Are you sure?}}');">
                                </td>
                                <td align="right"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tfoot>
            <tbody>
            [{LOOP hooks}]
                <tr>
                    <td>
                        <input type="checkbox" name="selected_hook[]" value="${hooks}{id}">
                    </td>
                    <td><a href="hookview.php?h=${hooks}{id}">${hooks}{title}</a></td>
                    <td>${hooks}{author}</td>
                    <td>${hooks}{type}</td>
                </tr>
          [{/LOOP}]
          </tbody>
        </table>
    </form>
[{INCLUDE templates/footer.html}]